/** General Styles **/
/*
@Autor: JFHR
@Company: 
@fecha:  2019-03-08
@update:  2019-03-14
@Comentario: Versiones del módulo
* Estilos del módulo, en especial de las viñetas del arbol
*/
.glyphicon-link:before{
    position: relative;
    content: "\f0c1";
    font-size: 15px;
    top: -2px;
    font-family: FontAwesome;
    left: -6px;
    padding-left: 22px;
}
#title {
    position: relative;
    text-align: center;
    top: -20px;
}
#table-poll {
    position: relative;
    margin-top: -80px;
    font-size: 14px;
    bottom: -40px;
}
#table-poll fieldset {
    border: 0px !important;
}
#img_issste {
    position: relative;
    left:20px;
    width: 250px;
    height: 100px;

}
#pleca_av {
    position: relative;
    left:300px;
    top: -80px;
    width: 600px;
    height: 30px;
}
#logo_av {
    position: relative;
    left:480px;
    margin-top: -260px;
    width: 250px;
    height: 300px;
}
#pleca_inf {
    position: relative;
    left:-150px;
    margin-top: -30px;
    width: 700px;
    height: 20px;
}
